<!-- main navbar template -->
<li class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <!-- home -->
        <li class="nav-item d-block d-md-none">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link"
                aria-label="Home">
                Home
            </a>
        </li>
</li>
<!-- All products -->
<li class="nav-item dropdown">
    <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        All Products
    </a>
    <!-- All products by filter -->
    <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
        <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
        <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
        <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
        <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
    </div>
</li>
<!-- honey -->
<li class="nav-item dropdown">
    <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="honey-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Honey
    </a>
    <div class="dropdown-menu border-0" aria-labelledby="honey-link">
        <a href="{% url 'products' %}?category=honey-1" class="dropdown-item" aria-label="honey-1">Clover Honey</a>
        <a href="{% url 'products' %}?category=honey-2" class="dropdown-item" aria-label="honey-2">Wildflower Honey</a>
        <a href="{% url 'products' %}?category=honey-3" class="dropdown-item" aria-label="honey-3">Acacia Honey</a>
        <a href="{% url 'products' %}?category=honey-4" class="dropdown-item" aria-label="honey-4">Manuka Honey</a>

    </div>
</li>
<!-- Accessories -->
<li class="nav-item dropdown">
    <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="items-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Accessories
    </a>
    <!-- Accessories categories -->
    <div class="dropdown-menu border-0" aria-labelledby="items-link">
        <a href="{% url 'products' %}?category=tools" class="dropdown-item" aria-label="tools">Tools</a>
        <a href="{% url 'products' %}?category=cloths" class="dropdown-item" aria-label="Cloths">Cloths</a>
        <a href="{% url 'products' %}?category=accessories" class="dropdown-item" aria-label="Accessories">Accessories</a>
    </div>
</li>
<!-- Special Offers -->
<li class="nav-item dropdown">
    <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Special Offers
    </a>
    <!-- Special Offers categories -->
    <div class="dropdown-menu border-0" aria-labelledby="specials-link">
        <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item" aria-label="New Arrivals">New
            Arrivals</a>
        <a href="{% url 'products' %}?category=deals" class="dropdown-item" aria-label="Deals">Deals</a>
        <a href="{% url 'products' %}?category=clearance" class="dropdown-item" aria-label="Clearance">Clearance</a>
    </div>
</li>
</ul>
</li>